@model DepartmentModel

@{
    ViewData["Title"] = "DeleteDepartment";
}

<h2>Delete City</h2>

<div>
    <h4>City Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            City ID
        </dt>
        <dd class="col-sm-10">
            @Model.c_deptid
        </dd>

        <dt class="col-sm-2">
            City Name
        </dt>
        <dd class="col-sm-10">
            @Model.c_deptname
        </dd>
    </dl>
</div>

<form asp-action="DeleteCityConfirmed" asp-route-id="@Model.c_deptid" method="post">
    <button type="submit">Delete City</button>
</form>
