@model MasterProject.Models.EmployeeModel
@* @{
ViewData["Title"] = "Create";
var languages = new List<string> { "Gujarati", "Marathi" ,"English"};

} *@

<h1>Create</h1>

<h4> New Employee</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="c_empname" class="control-label"></label>
                <input asp-for="c_empname" class="form-control" />
                <span asp-validation-for="c_empname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_empgender" class="control-label"></label>
                <div class="form-check">
                    <input asp-for="c_empgender" class="form-check-input" type="radio" value="M" id="male" />
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check">
                    <input asp-for="c_empgender" class="form-check-input" type="radio" value="F" id="female" />
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <span asp-validation-for="c_empgender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_empdob" class="control-label"></label>
                <input asp-for="c_empdob" class="form-control" />
                <span asp-validation-for="c_empdob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_empshift" class="control-label"></label>
                <div class="form-check">
                    <input asp-for="c_empshift" class="form-check-input" type="checkbox" value="Day" id="dayShift" />
                    <label class="form-check-label" for="dayShift">Day Shift</label>
                </div>
                <div class="form-check">
                    <input asp-for="c_empshift" class="form-check-input" type="checkbox" value="Night"
                        id="nightShift" />
                    <label class="form-check-label" for="nightShift">Night Shift</label>
                </div>
            </div>
            



            <div class="form-group">
                <label asp-for="c_empimage" class="control-label"></label>
                <input asp-for="c_empimage" type="file" class="form-control" />
                <span asp-validation-for="c_empimage" class="text-danger"></span>
            </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
